* {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  cursor: default;
}
/*LANDING PAGE STYLES*/
#welcomeText {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  cursor: pointer;
}

#theWelcomeHeader {
  cursor: pointer;
  font-family: "Anton", sans-serif;
}
/*LANDING PAGE STYLES*/
/*highlighter text color for empasis*/
.blockOutSpan {
  background-color: black;
}

.blockOutSpan:hover {
  color: white;
}

.highlight {
  color: rgb(3, 252, 244);
}

#ugly1 {
  height: 30px;
  font-size: 20px;
  margin-left: 30px;
}

/*highlighter text color for empasis*/

/*size and dimentions of text box*/

textarea {
  height: 90px;

  width: 180px;
}
/*highlighter text color for empasis*/

/*diffrent word colors on Journal page for fun*/

.bcolor {
  color: rgb(119, 252, 3);
}

.dcolor {
  color: rgb(3, 252, 244);
}

.ccolor {
  color: rgb(220, 140, 230);
}

.ecolor {
  color: rgb(237, 50, 147);
}

/*diffrent word colors on Journal page for fun*/

/* Margins */

.aboutText {
  position: relative;

  right: 20px;
}

button {
  height: 40px;
  box-shadow: none;
  border: none;
  border-radius: 5px;
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}

h1 {
  margin: 30px;
}

h3 {
  margin: 30px;
}

h4 {
  margin: 30px;
}

p {
  margin: 30px;
}

h2 {
  margin: 30px;
}

ol {
  margin: 30px;
}

.options {
  margin: 30px;
}

/*p {

	padding: 10px ;
*/

/*Margins */

hr {
  border: none;
  height: 5px;
  /* Set the hr color */
  color: black; /* old IE */
  background-color: black;
}

/* Font size*/

body {
  font-size: 20px;
}

/* NAVIGATION BAR:  no list bullets*/

.navLink {
  color: black;
  text-decoration: underline;
}

li span {
  color: black !important;

  list-style-type: none;
  display: inline;
}

/* horizontal main menu list*/
ul > li {
  display: inline;
  text-transform: uppercase;
  font-weight: bold;
  padding-right: 5em;
}

/*link hover*/
a:hover {
  /*background: black;*/
  color: grey;
}

/* link color is yellow*/
a {
  text-decoration: none;
  color: grey;
}

.journalLinks {
  background-color: black;
  cursor: pointer;
}

.journalLinks:visited {
  color: black;
}

.journalLinks:hover {
  color: white;
}

/*paragraph line hight spacing*/
p {
  line-height: 1.7em;
}

/*hiddentext--------------------------------*/
.hide a {
  text-decoration: none;
  color: white;
}

.hide a:hover {
  color: rgb(247, 234, 89);
}
/*hiddentext--------------------------------*/

/* ordered list line hight spacing--------------------*/
ol {
  line-height: 1.4em;
}
/* ordered list line hight spacing--------------------*/

#quoteDisplay {
  background-color: black;
  min-width: 700px;
  margin-bottom: 20px;
}

/*footer*/

.copyright {
  font-size: 14px;
  margin-bottom: -30px;
}

.foot {
  text-align: center;
}

/*footer*/

.options {
  margin-top: -3em;
}

.feelings {
  padding: 30px;
}

#quoteDisplay {
  padding: 30px;
}

#quoteButton {
  margin-left: 30px;
}
/*8bit me section*/

#bitMeTalkContainer {
  display: flex;
  flex-direction: row;
}

#bitMeTalkBox {
  font-size: 15px;
  margin-left: -50px;
}

/*8bit me section END*/

#randomQuotes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
/*SCROLL ANIMATION*/

.marquee {
  position: relative;
  overflow: hidden;
  --offset: 15vw;
  move-initial: calc(-25% + var(--offset));
  --move-final: calc(-25% + var(--offset));
  color: white;
  background-color: black;
  z-index: 1;
  width: 200%;
}
.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  animation: marquee 5s linear infinite;

  width: 200vw;
}

.marquee span {
  font-size: 3em;
  padding: 0 2vw;
  white-space: nowrap;
  font-family: "Teko", sans-serif;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
